body {
    margin: 30px auto;
    width: 70%;
    font-family: 'Tahoma','Geneva','sans-serif';
    color: #333;
}

.titlename{
    float: left;
    margin-right: 2em;
    font-family: 'Tahoma', 'Geneva', 'sans-serif';
    font-size :3em;
    font-weight: bold;
    text-align: left;
    color: #5AA2AE;
    border-bottom: #5aa1ae6e;
}

nav ul, footer ul {
   /*  font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
   float:right;
   font-family:'Tahoma', 'Geneva', 'sans-serif';
   padding: 0px;
   list-style: none;
   font-weight: bold;
   text-align: right;
   margin-block-end: 0;
   bottom:0;
   right:0;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    text-align: right;
    color: #333;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    color: #5AA2AE;
}
h1 {
    font-family:'Tahoma', 'Geneva', 'sans-serif';
    line-height: 1;
    font-size: 2em;
    margin-block-end: 1em;

}

h2 {
    padding-bottom: 0.5em;
    margin-block-start: 0;
    margin-block-end: 0em;
    color: #5AA2AE;
}

h3 {
    margin-block-start: 0;
    margin-block-end: 0.6em;
}

h4 {
font-weight: normal;
    margin-block-start: 0;
    margin-block-end: 0.3em;
    padding-bottom: 0.5em;
    font-style: italic;
}

p {
    font-size: 1em;
    line-height: 1.5;
    margin-top: -0.5em;
    color: #333;
    font-family:'Tahoma', 'Geneva', 'sans-serif';
}

ul {
    margin-block-start: 0.3em;
}

article{
    display:inline-block;
    width: auto;
    padding: 2em 0em 0em 0em; /*top right bottom left*/
}

.myphoto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.img_sub{
    font-style: italic;
    font-size: .8em;
    line-height: 1;
    font-weight: normal;
    text-align: left;
    padding-top: 1em;
    color: rgb(60, 59, 65);
/*    padding: 0em 0.5em 0.5em 0.5em; top right bottom left*/
}

ul.posts { 
    /*margin: 20px auto 40px; */
    font-size: 1em;
    font-family:'Tahoma', 'Geneva', 'sans-serif';
}

ul.posts li {
    list-style: none;
    font-size: 1em;
    font-family:'Tahoma', 'Geneva', 'sans-serif';
}

#display_trivia {
    display: block;
    color: transparent;
  }
  
  #display_trivia:target {
    display: block;
    color: inherit;
  }

footer {
    clear: both;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    text-align: right;
    font-family:'Tahoma', 'Geneva', 'sans-serif';
    padding-bottom: 1em;
}